body {
	background: #000 url('http://west-us.cdn.static.labs.momentum.io/img/survivesac-bg-v1.png') no-repeat center center;
	font-family: Verdana;
	color: #828282;
	font-size: 75%;
}

a:visited {color: blue}

h1 {
	color: #f00;
	font-size: 150%; 
	font-weight: bold; 
	letter-spacing: 5px;
	line-height: 1.5em;
	text-align: center;
	margin: 15px auto;
	width: 300px;
	background-color: #000;
}
h2 {
	color: #fff;
	font-size: 125%;
	font-weight: bold;
	letter-spacing:4px;
	line-height: 1.2em;
	text-align: center;
	margin: 15px auto;
	width: 300px;
	background-color: transparent;
}
strong {font-weight: 120%;}
form {text-align: left;}
input, textarea {
	font-family: Verdana;
	color: #828282;
	border: #828282 solid 1px;
	opacity: 1;
	width: 300px;
	margin-bottom: 5px;
	background: black;
	box-shadow: 3px 3px 3px black;	
}
hr
{
	border: 1px solid #080808;
}
p {font-size: 90%; margin:15px;}
p.indent {margin-left: 40px;}
input:active, input:focus, textarea:active, textarea:focus {
	font: Verdana;
	color: ;#cacaca;
	border: #e1e1e1 solid 1px;
	background-color: #616161;
}
.smalltext
{
	font-size:11px;
}
input.small {
	width: 140px;
	display: inline;
	margin-left: 10px;
}
label {
	font-size: 1em;
	display: inline;
}

.submit {
	width: 298px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: #f00;
	border: 1px solid red;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #000;
	letter-spacing:5px;
	margin-bottom: 0;	
}

.submit.disabled
{
	box-shadow: none;
	opacity: 0.2;
	border-color: #222;
	background-color: #888;
	color: #222;
	font-weight: normal;
}

.submit.enabled:hover
{
	background: #828282;
	color: white;
	border: 1px solid white;
}

.submit.enabled:active
{
	box-shadow:none;
	margin-top:3px;
	margin-left:1px;
}

#main
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: scroll;
}

#facebook
{
	margin: 0;
	position: relative;
	margin-top:20px;
	height: 85px;
}
	#facebookUser
	{
		text-align:center;
	}
	
	#profileWidget
	{
		padding:5px;
		padding-right:10px;
		height: 40px;
		background: white;
		border: 1px solid #333;
		margin-top: 5px;
		width: 282px;
		margin-left: auto;
		margin-right: auto;
	}
	
		#namebadge
		{
			position:absolute;
			margin-left: 50px;
			text-align:left;
		}
			#namebadge span
			{
				vertical-align:middle;
				font-size:11px;				
				line-height: 20px;
				margin-top:5px;
				height: 40px;
				width: 100px;
			}
		#profilePic
		{
			float:left;
			width: 50px;
		}
		#utilLinks
		{
			padding-top: 7px;
			height: 50px;
			vertical-align:middle;
		}
		#utilLinks a
		{
			font-size: 10px;
		}
		.floatright
		{
			float:right;
		}

#top {
	float: left;
	width: 100%;
}
.hidden
{
	display:none;
}
.formsection
{
	width: 300px;
	padding: 5px 15px 15px 15px;
}
.productTitle
{
	padding-left: 12px;
	line-height:40px;
	float:left;
}
.cartOptions
{
	width: 100%;
	margin-left: -45px;
	margin: none !important;
	text-indent:none;
	list-style: none;
}
.product
{
	padding-top: 6px;
	padding-right: 3px;
	float:right;
}
.cartOptions li
{
	width: 100%;
	margin: none;
	text-indent:none;
	height: 40px;
	margin-bottom: 10px;
	background: black;
	border: 2px solid #111;
	opacity: 0.7;
	list-style:none;
}
.center
{
	width: 100%;
	position:relative;
	text-align:center;
}
#wrapper {
	width: 330px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 2.5em auto 0 auto;
	opacity: 0.8;
	padding: 0;
	background-color: #121212;
	border: 1px #828282 solid;
}
#alert
{
	margin: 50px 0 0 0 ;
	padding: 0;
	width: 100%;
	text-align: center;
	float: left;

}
#alert h2 {margin: 5px; font: inherit}
.success
{
	background: green;
	color: white;
}
.fail
{
	background: red;
	color: black;
}
#regformwrap {
	margin: 15px 0 0 0;
}
#regprogress
{
	opacity: 0.9;
	height: 35px;
	width: 354px;
	left: -9px;
	text-align: left;
	position: relative;
}
#regWrapper
{
	position: relative;
	width: 100%;
	height: 35px;
	text-align:left;
}
#regprogress .step
{
	margin-left: -5px;
	box-shadow: 2px 0px 2px black;	
	background: black;
	color: #FFF;
	display:inline-block;
	height: 35px;
	line-height: 35px;
	width: 120px;
	font-size:85%;
	text-align:center;
	overflow:hidden;
}
#regprogress .step span
{
	height: 35px;
	line-height: 35px;
}
#regprogress .step.collapsed
{
	width: 0;
}
#regprogress .step.current, #regprogress .step.completed
{
	background: green;
}

.formstep
{
	float:left;
	clear:none;
}

#registrationStep
{
	margin-right: 15px;
}

/* ICONS */
.iconbox
{
	padding-left: 20px;	
}
.arrowbox
{
	background: transparent url(/img/icons/bullet_go.png) no-repeat center left;	
}
.checkbox
{
	background: transparent url(/img/icons/accept.png) no-repeat center left;
}
.errorbox
{
	background: transparent url(/img/icons/error.png) no-repeat center left;
}
.evilgrinbox
{
	background: transparent url(/img/icons/emoticon_evilgrin.png) no-repeat center left;
}
.exclamationbox
{
	background: transparent url(/img/icons/exclamation.png) no-repeat center left;	
}
.shoe
{
	width: 14px;
	height: 14px;
	opacity: 0.6;
	position: absolute;
}
#leftshoe
{
	background: green;	
	left: -6px;
	-webkit-mask-image: url(/img/layout/corner_mask_left.png);
}
#rightshoe
{
	background: black;
	right: 0;
	-webkit-mask-image: url(/img/layout/corner_mask_right.png);	
}
#rightshoe.activated
{
	background: green !important;
}