body {
	background: #000 url('http://west-us.cdn.static.labs.momentum.io/img/survivesac-bg-v1.png') no-repeat center center;
	font-family: Verdana;
	color: #828282;
	font-size: 75%;
}

h1 {
	color: #f00;
	font-size: 150%; 
	font-weight: bold; 
	letter-spacing: 5px;
	line-height: 1.5em;
	text-align: center;
	margin: 15px auto;
	width: 300px;
	background-color: #000;
	align: center;
}
form {text-align: left;}
input, textarea {
	font-family: Verdana;
	color: #828282;
	border: #828282 solid 1px;
	background-color: #242424;
	width: 300px;
	margin-bottom: 5px;
}
input:active, input:focus, textarea:active, textarea:focus {
	font: Verdana;
	color: ;#cacaca;
	border: #e1e1e1 solid 1px;
	background-color: #616161;
}
input.small {
	width: 140px;
	display: inline;
	margin-left: 10px;
}
label {
	font-size: 1em;
	display: inline;
}

#submit {
	color: #f00;
	border: 1px solid red;
	text-transform: uppercase;
	background-color: #000;
	letter-spacing:5px;
	margin-bottom: 0;
}
#main
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#top {
	float: left;
	width: 100%;
}
#wrapper {
	width: 300px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	margin: 15.5em auto 0 auto;
	opacity: 0.8;
	padding: 0 15px;
	background-color: #121212;
	border: 1px #828282 solid;

}
#alert
{
	margin: 50px 0 0 0 ;
	padding: 0;
	width: 100%;
	text-align: center;
	float: left;

}
#alert h2 {margin: 5px; font: inherit}
.success
{
	background: green;
	color: white;
}
.fail
{
	background: red;
	color: black;
}