Dear {{ user.full_name }},

<b>Your ticket has been reserved</b> for SurviveSacramento 2011: OUTBREAK!.<br/>
Your Google Checkout order number is <b>{{ order.order_id }}</b>.<br /><br />
Follow our Facebook page to get the most updated information about the game, and add the app so you can show off your survival skills to your friends!<br /><br />Visit <a href="https://www.facebook.com/Team.Mac.Down">https://www.facebook.com/Team.Mac.Down</a> for more!

<br /><br />
Signed,
<br />
-TMD Notifier Kitteh