<html>
	<head>
		<title>{% block title %}SuviveSac - TMD{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="style/survive-sac-v2.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
	</head>
	<body>
		
		<div id='main'>
			
			{% if alert %}
				<div id='alert' class='{{ alert_type }}'><h2>{{ alert }}</h2></div>
			{% endif %}
			
			<div id="wrapper">
				<h1>{% block heading %}{% endblock %}</h1>
				
				{% block content %}{% endblock %}
				
			</div>
		
		</div>
	</body>
</html>