{% extends "__base.html" %}

{% block title %}SurviveSacramento - Live action halloween zombie tag in Downtown Sacramento, SECOND YEAR RUNNING - HALLOWEEN 2011{% endblock %}

{% block heading %}REGISTRATION{% endblock %}

{% block content %}

<style>
  .override #googlecart-widget-head {
    background: #222; color: white;
  }
  .override #googlecart-arrow,
  .override #googlecart-title,
  .override #googlecart-summary
  {
    color: white;
  }
  #googlecart-widget-spacer
  {
	width: 300px !important;
  }
  .override #googlecart-widget-body,
  .override #googlecart-widget-list,
  .override .googlecart-widget-item,
  .override .googlecart-widget-quantity-column,
  .override .googlecart-widget-quantity-box,
  .override .googlecart-widget-details-column,
  .override .googlecart-widget-title,
  .override .googlecart-widget-short-details,
  .override .googlecart-widget-removed-message,
  .override .googlecart-widget-image-column,
  .override .googlecart-widget-img,
  .override .googlecart-widget-price-column,
  .override .googlecart-widget-price,
  .override .googlecart-widget-remove,
  .override .googlecart-widget-restore,
  .override #googlecart-widget-emptymessage,
  .override .googlecart-widget-footertext,
  .override .googlecart-widget-totalmessage,
  .override .googlecart-widget-totalprice,
  .override .googlecart-widget-disclaimer
  {
    background: black; opacity: 0.8; color: white;
  }
  .override .googlecart-widget-checkout {
    background: black;
  }
</style>

<div id='regprogress'>
	
	<div id='regWrapper'>
		<div id='step1' class='step{% if step == 1 %} current{% endif %}{% if step > 1 %} completed{% endif %}'>
			{% if step == 1 %}<span class='iconbox arrowbox'>Register</span>{% else %}<span class='iconbox checkbox'>Register</span>{% endif %}
		</div>
		<div id='step2' class='step{% if step == 2 %} current{% else %}{% if step > 2 %} completed{% else %} collapsed{% endif%}{% endif %}'>
			{% if step == 2 %}<span class='iconbox arrowbox'>Donate</span>{% else %}{% if step == 3 %}<span class='iconbox checkbox'>Donate</span>{% else %}<span style='opacity: 0;'>Donate</span>{% endif %}{% endif %}
		</div>
		{% if step > 2 %}
		<div id='step3' class='step{% if step == 3 %} current{% endif %}'>
			{% if step == 3 %}<span class='iconbox checkbox'>{% endif %}Done{% if step == 3 %}!</span>{% endif %}
		</div>
		{% endif %}
	
		<div class='clearboth'></div>
			
	</div>
	
	<div class='clearboth'></div>
	
	<div id='leftshoe' class='floatleft shoe'></div>	
	{% if step == 3 %}
		<div id='rightshoe' class='floatright shoe{% if step == 3 %} activated{% endif %}'></div>
	{% endif %}
	
</div>
{% if step != 3 %}
	<div id='regform'>
		<div id='scroller'>
			<div id='registrationStep' class='formstep'>
				<div class='formsection'>
					<div id='facebook' class='center'>
						<div id='facebookUser' class='hidden'>
							<div id='facebookAuthSuccess'>
								<b>Logged in via Facebook as</b>
							</div>

							<div id='profileWidget'>
								<div id='profilePic' class='floatleft'>
									<fb:profile-pic uid='loggedinuser' id='fb-login-button' width='40' height='40' linked='false' facebook-logo='false' />
								</div>
								<div id='namebadge' class='floatleft'>
									<span id='fb_fullname'></span>
									<br />
									<div class="fb-like" data-href="http://tmd.labs.momentum.io" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false" data-colorscheme="dark" data-font="lucida grande"></div>
								</div>
								<div id='utilLinks' class='floatright'>
									<a href="javascript:deauthorize();">I'm not this person!<br />
									Deauthorize</a>
								</div>
								<div class='clearboth'></div>
							</div>
						</div>
						<div id='facebookLogin'>
							<br />
							<fb:login-button perms="email,publish_checkins,publish_stream,publish_actions,sms,rsvp_event">Login with Facebook</fb:login-button>
							<h2>OR</h2>
						</div>
					</div>
					<div id="regformwrap">
					<form id='regFormAction' action="/create" method="post">
						<div><input id='name' type="text" name="full_name" placeholder="name" value='name' data-required='true' required /></div>
						<div><input id='email' type="email" name="email" placeholder="email" value='email' data-required='true' required /></div>
						<div><input id='age' type="text" name="age" placeholder="age" value='age' data-required='true' /></div>
						<div><textarea name="refer" id="refer" rows="6" placeholder="how did you hear about Survive Sac?">how did you hear about Survive Sac?</textarea></div>
						<div>
							<p>did you attend the last survive sac?</p>
							<span>
								<select name='lastgame'>
									<option value='no'>No</option>
									<option value='yes'>Yes</option>
								</select>
							</span>
						</div>
						<div>
							do you own a smartphone?<br />
							<select name='smartphone'>
								<option value='no'>No</option>
								<option value='iphone'>Yes - Apple</option>
								<option value='android'>Yes - Android</option>
								<option value='blackberry'>Yes - BlackBerry</option>
								<option value='windows'>Yes - Windows</option>
								<option value='other'>Yes - Other</option>
							</select>
						</div>		

						<!-- Hidden Properties -->
						<input id='fb_profile_gender' type='hidden' value='__NULL__' />
						<input id='fb_profile_username' type='hidden' value='__NULL__' />
						<input id='fb_profile_id' type='hidden' value='__NULL__' />
				
						<hr />
						<input id='registerSubmit' class='submit disabled' type='submit' value='Next ->' disabled />
				
					</form>
					</div>
				</div>
			</div>
	
			<div id='paymentStep' class='formstep' style='opacity: 0;'>
				<div class='formsection'>	
					<ul class='cartOptions'>
						<li>

							<span class='productTitle'>Player Ticket</span>
			
							<div class="product">
								<input type="hidden" class="product-title" value="Single Ticket">
								<input type="hidden" class="product-price" value="5.00">
								<div class="googlecart-add-button" tabindex="0" role="button" title="Purchase ticket ($5)"></div>
							</div>
						</li>
						<li>
			
							<span class='productTitle'>Rations Package</span>
						
							<div class="product">
								<input type="hidden" class="product-title" value="Rations Package">
								<input type="hidden" class="product-price" value="5.00">
								<div class="googlecart-add-button" tabindex="0" role="button" title="Rations Package ($5)"></div>
							</div>
						</li>
						<li>
			
							<span class='productTitle'>Preorder a Map</span>
						
							<div class="product">
								<input type="hidden" class="product-title" value="Preorder Map">
								<input type="hidden" class="product-price" value="3.00">
								<div class="googlecart-add-button" tabindex="0" role="button" title="Preorder Map ($3)"></div>
							</div>
						</li>
					</ul>
					<div id="googlecart-widget"></div>
				</div>
			</div>
		</div>
		<br /><br />
	</div>
{% else %}
<div>
	Sup
</div>
{% endif %}

<script type="text/javascript">

	function fillFacebookResponse(response)
	{
		$('#facebookLogin').addClass('hidden');
		
		$('#fb_fullname').html(response.name);
		$('#facebookUser').removeClass('hidden');
		
		$('#name').val(response.name).addClass('hidden');
		$('#email').val(response.email).addClass('hidden');

		
		$('#fb_profile_username').val(response.username);
		$('#fb_profile_id').val(response.id);
		$('#fb_profile_gender').val(response.gender);
	}

	function advanceForm(event){
		event.preventDefault();
		$('#step1').addClass('completed').removeClass('current').children('span').removeClass('arrowbox').addClass('checkbox');
		$('#step2').addClass('current').animate({width: 120}).children('span').animate({opacity: 1}).addClass('iconbox arrowbox');
		$('#paymentStep').animate({opacity: 1});
	}


	$(document).ready(function prepareFacebook(){

		
		var $panels = $('#regform #scroller .formstep');
		$panels.css({
		    'float' : 'left',
		    'position' : 'relative' // IE fix to ensure overflow is hidden
		  });

		var $container = $('#regform #scroller');
		var $scroll = $('#regform').css('overflow', 'hidden');	
		
		$container.css({width: ($panels[0].offsetWidth * $panels.length)+25});
		
		var offset = 20;
		
		var scrollOptions = {
		  target: $scroll, // the element that has the overflow

		  // can be a selector which will be relative to the target
		  items: $panels,

		  // allow the scroll effect to run both directions
		  axis: 'x',
		  offset: offset,
		  cycle: false,
		  next:'#registerSubmit',

		  // duration of the sliding effect
		  duration: 500,

		  // easing - can be used with the easing plugin: 
		  // http://gsgd.co.uk/sandbox/jquery/easing/
		  easing: 'swing'
		};

		// apply serialScroll to the slider - we chose this plugin because it 
		// supports// the indexed next and previous scroll along with hooking 
		// in to our navigation.
		var scroller = $('#scroller').serialScroll(scrollOptions);

		// now apply localScroll to hook any other arbitrary links to trigger 
		// the effect
		$.localScroll(scrollOptions);

		// finally, if the URL has a hash, move the slider in to position, 
		// setting the duration to 1 because I don't want it to scroll in the
		// very first page load.  We don't always need this, but it ensures
		// the positioning is absolutely spot on when the pages loads.
		scrollOptions.duration = 1;
		$.localScroll.hash(scrollOptions);

		FB.init({ 
		   appId:'242878385764668', cookie:true, 
		   status:true, xfbml:true 
		});
		
		FB.api('/me', function(user) {
			console.log('/me', user);
			if(user != null)
			{
				if(user.error == undefined)
				{
					fillFacebookResponse(user);					
				}
			}
			
		});
		
		$('#fb-login-button').click(function doLoginEvent()
		{
			FB.login();
		})

		FB.Event.subscribe('auth.login', function(response) {
		        if (response.session) {
					FB.api('/me', function(response) {
						fillFacebookResponse(response);
					});			
		        }
	    });
		
		$('input').click(function clearIfDefault(){
			if($(this).attr('type') != 'submit')
			{
				$(this).val('');				
			}
		});
		$('textarea').click(function clearIfDefault(){
			$(this).val('');
		});
				
		$('#registerSubmit').click(advanceForm);
		
		$('#regFormAction input').change(function checkFormValid()
		{
			var valid = true;
			$('#regFormAction input').each(function doValidCheck(){

				input = $(this);
				if(input.attr('data-required') == 'true')
				{
					if(input.val() == input.attr('placeholder'))
					{
						valid = false;
					}					
				}					
				
			});
			
			if(valid != false)
			{
				$('#registerSubmit').removeAttr('disabled').removeClass('disabled').addClass('enabled');
			}
		});
	
	});
	
	function shareEvent()
	{
		FB.ui(
		  {
		    method: 'send',
			name: 'Survive.Sacramento - Real life zombie survival!',
			link: 'http://tmd.labs.momentum.io'
		  },
		  function(response) {
		    if (response && response.post_id) {
		      alert('Post was published.');
		    } else {
		      alert('Post was not published.');
		    }
		  }
		);
	}
		
	function deauthorize()
	{
		FB.logout();
		$('#facebookUser').addClass('hidden').children('span');
		$('#facebookLogin').removeClass('hidden');
	}
		
</script>
<script  id='googlecart-script' type='text/javascript' src='https://checkout.google.com/seller/gsc/v2_2/cart.js?mid={{ checkout_mid }}'
	post-cart-to-sandbox='{{ sandbox }}'
	currency='USD'
	productWeightUnits='LB'
	hide-cart-when-empty="false"
	close-cart-when-click-away="false"
	aid="UA-25133943-3"></script>
{% endblock %}